<%= link_to "Next>>", detail_tweets_path%>
<div class="detail-tweet">
	<div class="profile-img">
		<%=tag("img", { :src => @tweet.profile_image_url }, false) %>
	</div>
	<p>
	  <b>From user:</b>
	  <%=h @tweet.user_name %>
	</p>
	<p>
  		<b>User Location:</b>
  		<%=h @tweet.user_location %>
	</p>
	<p>
  		<b>Text:</b>
  		<%=h @tweet.text %>
	</p>
	<br />
<% form_tag categorize_tweet_path(@tweet.id) do %>
  <%= error_messages_for :tweet %>
  <% @fields.each do |field| %>
	<% if @tweet.respond_to? "#{field}=" %>
  		<p>
			<%= label_tag "#{field}:" %><br />
    		<%= text_field_tag field.to_sym, nil, :class=>"fieldclass" %>
  		</p>
	<% end %>
  <% end %>
  <p>
	<%= label_tag "Category:" %><br />
  	<%= select("category", "category_id", @categories.map {|c| [c.name,c.id]}, {}, :class=>"selectbox") %>
  </p>
  <p>
    <%= submit_tag 'Categorize', :class=>"button" %>
  </p>
<% end %>
</div>