<% @tweets.each do |tweet| %>
<div class="tweet">
	<div class="profile-img">
		<%=tag("img", { :src => tweet.profile_image_url }, false) %>
	</div>
	<div class="tweet-content">
	<p>
		<%=h tweet.from_user %>
	</p>
	<p>
		<%=h tweet.text %>
	</p>
		<%=h tweet.id %> -- <%=h tweet.text_hash %>
		<div class="tweet-control">
			<%= link_to 'Show', tweet %> | 
    		<%= link_to 'Edit', edit_tweet_path(tweet) %> | 
    		<%= link_to 'Destroy', tweet, :confirm => 'Are you sure?', :method => :delete %>
		</div>
	</div>
</div>
<% end %>
<br />

<%= link_to 'New tweet', new_tweet_path %>