<h1>New tweet</h1>

<% form_for(@tweet) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.label :in_reply_to_user_id %><br />
    <%= f.text_field :in_reply_to_user_id %>
  </p>
  <p>
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :lang %><br />
    <%= f.text_field :lang %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.text_field :created_at %>
  </p>
  <p>
    <%= f.label :profile_image_url %><br />
    <%= f.text_field :profile_image_url %>
  </p>
  <p>
    <%= f.label :retweeted %><br />
    <%= f.text_field :retweeted %>
  </p>
  <p>
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tweets_path %>