<h1>Listing search_terms</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @search_terms.each do |search_term| %>
  <tr>
    <td><%=h search_term.name %></td>
    <td><%= link_to 'Show', search_term %></td>
    <td><%= link_to 'Edit', edit_search_term_path(search_term) %></td>
    <td><%= link_to 'Destroy', search_term, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New search_term', new_search_term_path %>